tweepy
python-dotenv
Click
colorama
termcolor
pyprowl
PyJWT

# Logging
colorlog
coloredlogs
concurrent_log_handler

# MongoDB
mongomock
pymongo[srv]

# TradingView
# git+https://github.com/StreamAlpha/tvdatafeed.git

# SaxoBank SDK
#git+https://github.com/hootnot/saxo_openapi.git
saxo_openapi

# Unit testing
pytest
tox
pytest-cov
