tweepy
python-dotenv
Click
colorama
termcolor
pyprowl
PyJWT
flask
pandas

# Logging
colorlog
coloredlogs

# MongoDB
mongomock
pymongo[srv]

# SaxoBank SDK
#git+https://github.com/hootnot/saxo_openapi.git
saxo_openapi

# Unit testing
pytest
pytest-cov
pytest-xdist
pytest-dotenv

# Email
postmarker