tweepy
pymongo[srv]
python-dotenv
Click
colorama
termcolor
pyprowl
colorlog
PyJWT

# TradingView
git+https://github.com/StreamAlpha/tvdatafeed.git

# SaxoBank SDK
#git+https://github.com/hootnot/saxo_openapi.git
saxo_openapi
