name: Saxo Report (manual)

on:
  workflow_dispatch:
    inputs:
      profile:
        description: 'Profile'     
        required: true
        default: 'default' 

permissions:
  contents: read

jobs:
  run_script:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    # Load secrets into Actions Environment
    env:
      POSTMARK_SERVER_TOKEN: ${{ secrets.POSTMARK_SERVER_TOKEN }}
      LOG_LEVEL: 'DEBUG'
      PRODUCTION: 'True'
    
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
    
      - name: Run job
        run: python3 cli_saxo.py --profile ${{ github.event.inputs.profile }} report-closed-positions