name: Signals (scheduled)

on:
  schedule:
    - cron: '0 4 * * *'  # Run every day at 04:00 UTC (22:00 CT)

permissions:
  contents: read

jobs:
  run_script:
    runs-on: self-hosted
    timeout-minutes: 10 # 1440
    
    # Load secrets into Actions Environment
    env:
      PROWL_API_KEY: ${{ secrets.PROWL_API_KEY }}
      MONGODB_CONN: ${{ secrets.MONGODB_CONN }}
      LOG_LEVEL: 'DEBUG'
      PRODUCTION: 'True'
    
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
    
      - name: Run job
        run: python3 cli_signal.py watch --timeout 9 # 1439
        continue-on-error: true  # avoid returning error when timeout is reached