name: SSH Script

on:
    workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.0
      with:
        ssh-private-key: ${{ secrets.PI_SSH_PRIVATE_KEY }}

    - name: Run script on remote host
      run: |
        ssh -o StrictHostKeyChecking=no -p 22 rune@pi 'bash -s' < $HOME/run_signals.sh
