name: Signals (manual)

on:
  workflow_dispatch:
    inputs:
      command:
        description: 'Select command: [watch|parse] (default: watch)'
        required: true
        default: 'watch'
      parse-input:
        description: 'Enter Tweet ID (required for parse command)'
        required: false

permissions:
  contents: read

jobs:
  run_script:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    
    # Load secrets into Actions Environment
    env:
      PROWL_API_KEY: ${{ secrets.PROWL_API_KEY }}
      MONGODB_CONN: ${{ secrets.MONGODB_CONN }}
      LOG_LEVEL: 'DEBUG'
      PRODUCTION: 'True'
    
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
    
      - name: Run manual command
        run: |
          command="${{ github.event.inputs.command }}"
          echo "Running command: $command"
          if [ "$command" == "watch" ]; then
            echo "Running watch command..."
            python3 cli_signal.py $command
          elif [ "$command" == "parse" ]; then
            parse_input="${{ github.event.inputs.parse-input }}"
            
            if [ -z "$parse_input" ]; then
              echo "Error: parse-input is required for parse command."
              exit 1
            fi

            echo "Running parse command with input: $parse_input"
            python3 cli_signal.py parse --tweet $parse_input
          else
            echo "Error: Unsupported command - $command"
            exit 1
          fi
